<div class="title-content row">
  <div class="col">
    <h2 class="landing-title">inqube</h2>
    <p>We're a small international team of young programmers and innovators that want to improve the world by one line of code at a time.</p>
    <a href="/team">Our Team</a>
  </div>
  <div class="col">
    here goes some image
  </div>
</div>
<div class="spec-content">
  <div class="qualities">
    <div class="quality">
      <img src="../../../assets/code.svg" />
      <div class="quality-title">Coding</div>
    </div>
    <div class="quality middleleft">
      <img src="../../../assets/pencil.svg" />
      <div class="quality-title">Design</div>
    </div>
    <div class="quality middleright">
      <img src="../../../assets/laurel-wreath.svg" />
      <div class="quality-title">Entrepreneurship</div>
    </div>
    <div class="quality">
        <img src="../../../assets/brain.svg" />
        <div class="quality-title">Mindfulness</div>
      </div>
  </div>
</div>
<div class="landing-content">
  <h2>Driven by impact</h2>
  <p>We build apps that have an impact on humans and the world we live in.</p>
</div>